/* Img-downloader module styles */


/* Buttons */

#app-start-button,
#app-choose-directory-button {
    margin-top: 15px;
}

.button-start-container {
    position: relative;
}


/* Files table */

.files-table {
    margin-top: 30px;
    table-layout: fixed;
}

.files-table td {
    font-size: 12px;
    word-wrap: break-word;
}

.table-first-col {
    width: 30px;
}


/* Files counter */

.files-number {
    display: none;
    position: absolute;
    opacity: 0.5;
    right: 10px;
    bottom: 8px;
}


/* Output directory path */

#output-directory {
    word-wrap: break-word;
}
